<ul>
<li>Project name: <%= @project.name %></li>
<li>Project material: <%= @project.material %></li>
<li>Project challenge theme: <%= @challenge_theme %></li>
<li>Contestants on Project: <%= @contestant_count%></li>
<li>Average Contestant Experience: <%= @project_cont_avg_exp%></li>
</ul>
<div id="add_contestant">
  <%= form_with url: '/contestants', method: :post, local: true do |form| %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.label :contestant_id, "Contestant ID" %> 
    <%= form.text_field :contestant_id %> <br>
    <%= form.submit 'Add Contestant' %>
  <% end %>
</div>