<ul>
<li>Project name: <%= @project.name %></li>
<li>Project material: <%= @project.material %></li>
<li>Project challenge theme: <%= @challenge_theme %></li>
<li>Contestants on Project: <%= @contestant_count%></li>
<li>Average Contestant Experience: <%= @project_cont_avg_exp%></li>
</ul>
<div id="add_contestant">
  <%= form_with url: '/contestants', method: :post, local: true do |form| %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.label :name, "Name" %> 
    <%= form.text_field :name %> <br>
    <%= form.label :age, "Age" %> 
    <%= form.number_field :age%> <br>
    <%= form.label :hometown, "Hometown"%> 
    <%= form.text_field :hometown%> <br>
    <%= form.label :years_of_experience, "Years of Experience" %> 
    <%= form.number_field :years_of_experience %> <br>
    <%= form.submit 'Add Contestant' %>
  <% end %>
</div>