<ul>
<li>Project name: <%= @project.name %></li>
<li>Project material: <%= @project.material %></li>
<li>Project challenge theme: <%= @challenge_theme %></li>
<li>Contestants on Project: <%= @contestant_count%></li>
<li>Average Contestant Experience: <%= @project_cont_avg_exp%></li>
</ul>